<div class="column">
<div class="card">
   <div class="has-text-right">
    <time class="p-1">{{data_created}}</time>
    </div>
  <div class="card-content">
    <div class="card_container media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://github.com/{{githubUsername github_repo}}.png" class="profile-pic">
        </figure>
        <strong> {{githubUsername github_repo}} </strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><a href="{{github_repo}}"><span class="title">{{title}}</span></a><hr><span class="subtitle"> {{description}} </span> <br><br> What's needed: {{skills}} <br> Contact {{email}} to get involved!</p>
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>