<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{test.img}} " class="profile-pic">
        </figure>
        <strong> {{username}} </strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">{{title}}</span><br> <time>{{date_created}}</time> <br> {{description}} </p>
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>